

# This was inserted by `prisma init`:
# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

DATABASE_URL="mongodb+srv://sahin:sahin@brother.rjiukwk.mongodb.net/brother?retryWrites=true&w=majority&appName=brother"
PORT = 5000
JWT_SECRET="secret"
EXPIRES_IN="365d"
NODE_ENV="development"
BCRYPT_SALT_ROUNDS=12
